        body {
            font-family: "Poppins", sans-serif;
            background: linear-gradient(135deg, #faf8f8, );
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            background: #eeeded;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
            text-align: center;
            width: 320px;
        }

        .container h2 {
            color: #000;
        }

        input,
        select,
        button {
            margin: 10px 0;
            padding: 10px;
            width: 90%;
            border: none;
            border-radius: 8px;
        }

        input,
        select {
            text-align: center;
            font-size: 16px;
        }

        button {
            background: #ffcc00;
            color: #000;
            cursor: pointer;
            font-weight: bold;
            transition: 0.3s;
        }

        button:hover {
            background: #ffa500;
        }

        #result {
            color: #000;
            margin-top: 15px;
            font-size: 18px;
            font-weight: bold;
        }